* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#quote-box { 
  font-family: sans-serif;
  color: #666;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 40px 1fr 1fr 40px;
  height: 100vh;
}

#quote-box > * {
    grid-column: 2;
    min-width: 0;
}
 
#text {
  font-family: 'Sue Ellen Francisco', cursive;
  font-size: 2.5rem;
  letter-spacing: 0.15rem;
  margin: auto;
}
#author, #text {
  text-align: center;
  grid-column: 1 / -1;
}
 
#new-quote {
  grid-column: 3;
}

button, a {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  margin: auto;
  border: solid 1px transparent;
  border-radius: 4px;
  padding: 0.5em 1em;
  color: #ffffff;
  background-color: #666;
}